@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --background: rgb(20, 20, 20);
  --border-color-01: rgb(38, 39, 45);
  --bg-primary-transparent: rgb(var(--color-white) / 2%);
  --test: var(--color-red-500);
}

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
}

html,
body {
  background-color: var(--background);
}

.masonry-container {
  @apply w-full px-4 py-6;

  /* margin: 0 auto; */
}

.masonry-item {
  @apply break-inside-avoid mb-3 cursor-pointer;
  /* width: calc(100% / var(--columns) - 12px); */
}

.masonry-item:hover {
  @apply transform scale-101 transition-transform duration-200 ease-in-out;
}

.image-wrapper {
  @apply relative overflow-hidden rounded-lg shadow-md;
  background: #f8f9fa;
}

.masonry-image {
  @apply w-full h-auto block;
  transition: opacity 0.3s ease;
}

.masonry-image:hover {
  @apply opacity-90;
}

@media (max-width: 640px) {
  .masonry-container {
    @apply px-2;
  }
}
